@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraCode';
  src: url('./assets/fonts/FiraCode-Medium.ttf');
}

@layer components {
  #__next {
    @apply flex flex-col h-screen;
  }

  body {
    @apply bg-primary-med text-secondary-white;
  }

  ::-webkit-scrollbar {
    @apply w-[6px] h-0;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary-light;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-grey;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: FiraCode;
}

p {
  padding: 0;
  margin: 0;
}